body {
    background-image: url("assets/images/courses-background.png");
    background-image: url("../images/courses-background.png");
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    width: 70%;
    border: 5px solid Silver;
}

#divSelectCourses {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 2%;
    background-color: azure;
}